<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    >
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>API Specification - Swagger UI</title>

    <link rel="icon" type="image/png" href="{{ asset.path('/assets/swagger/favicon.png') }}" sizes="32x32" />
    <style>{{ asset.source(['/assets/swagger/bundle.css']) }}</style>

    <link rel="base" href="{{ constant('BASE_URL') }}" />
  </head>
  <body>
    <div id="swagger-ui"></div>

    <script>window.SWAGGER_JSON = {{ docs|json_encode|raw }};</script>
    <script>{{ asset.source(['/assets/swagger/bundle.js'])|raw }}</script>
  </body>
</html>
